:root {
  --colorbase: #323249;
  --colorbasetext: #cbcbe2;
  --bgcolor: #2b2c40;
  --border-color: #232333;
  --box-shadow: 0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
  --primary-bg: #696cff;
  --hover-bg: #4a4cc9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--colorbasetext);
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  background-color: var(--bgcolor);
  cursor: default;
}

main, form, .console, .logo-div, .output-data-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-direction: column;
}

form {
  flex-direction: row;
}

footer, .card, .graph_card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border: 3px solid var(--border-color);
  background-color: var(--colorbase);
  box-shadow: var(--box-shadow);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 0;
  border: 3px solid var(--border-color);
  background-color: var(--colorbase);
  box-shadow: var(--box-shadow);
  height: 12vh;
  justify-content: space-between;
  min-height: 10vh;
  min-width: 100%;
  border-bottom-width: 3px;
}

footer {
  position: absolute;
  bottom: 0;
  min-height: 2vh;
  min-width: 100%;
  border-top-width: 3px;
}

.card, .graph_card {
  border-radius: 14px;
  padding: 10px;
}

.analisys {
  width: 100%;
  display: flex; 
  flex-direction: row;
}

.graph_card {
  width: 65%;
  background-color: var(--colorbasetext);
  min-height: 50vh;
}

#save_btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label{
  padding-right: 1vw;
}

.t_info{
  width: 30%;
}

.t_value{
  width: 70%;
}

.val{
  border: 3px solid var(--hover-bg);
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
}

.logo {
  max-width: 100px;
}

.logo-div h1 {
  margin-left: 5px;
  text-transform: uppercase;
}

.navigation .menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin: auto 20px auto 0;
}

.termsx {
  overflow-y: scroll;
  height: 450px;
  border: 1px solid var(--border-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  margin: 10px;
  padding: 10px;
  background-color: var(--bgcolor);
  width: 100%;
}

select, input, button, .upload-label {
  background-color: var(--primary-bg);
  border: none;
  color: var(--colorbasetext);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 1rem;
}

select {
  color: var(--colorbase);
}

input[type="text"] {
  background-color: var(--colorbasetext);
  text-align: left;
  cursor: text;
  color: var(--colorbase);
}

input[type="submit"]:hover, .upload-label:hover, button:hover {
  background-color: var(--hover-bg);
}

input[type="file"] {
  display: none;
}

#close:hover {
  background-color: #9b1818;
}

.navigation .humbarger {
  margin-right: 20px;
  display: none;
}

.navigation .humbarger .bar {
  width: 30px;
  height: 2px;
  margin: 7px;
  background: var(--colorbasetext);
}

.navigation .humbarger:hover {
  cursor: pointer;
}

.navigation .menu-list li a {
  color: var(--colorbasetext);
  font-size: 1.25rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 1s ease, border 1s ease;
  text-decoration: none;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: medium;
}

h4, p {
  font-size: small;
}

@media only screen and (min-width: 1080px) and (max-width: 1600px) {
  .navigation .menu-list {
    width: 50%;
  }

  .navigation .menu-list li a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1080px) {
  .navigation .menu-list {
    position: absolute;
    min-width: 100%;
    background: var(--colorbase);
    text-align: center;
    display: none;
  }

  .navigation .menu-list li {
    display: block;
  }

  .navigation .menu-list li a {
    display: block;
    padding: 20px;
    transition: color 1s ease, padding 1s ease, background-color 1s ease;
  }

  .navigation .menu-list li a:hover {
    color: var(--colorbasetext);
    padding-left: 30px;
    background: rgba(177, 212, 224, 0.2);
  }

  .navigation .humbarger {
    display: block;
  }

  .analisys {
    flex-direction: column;
  }

  .graph_card {
    width: 100%;
  }
}
