{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="card">
    <h2>Página de análises.</h2>
  </div>
  <div class="card">
    <form method="POST" action="/motor_upload" enctype="multipart/form-data">
      <label class="upload-label" for="file">Enviar arquivo</label>
      <input type="file" name="file" id="file" accept=".txt,.csv" />
      <input type="submit" value="Upload" />
    </form>
  </div>
  <div class="confirm card" , style="display: {{displayopt}};">
    <h2>{{msg}}</h2>
  </div>
</div>
{% endblock %}
