<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Serra Rocketry</title>
    <link
      href="{{url_for('static', filename = 'css/app.css')}}"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="static/assets/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-div">
        <img src="static/assets/LOGO - SEM TEXTO.png" alt="" class="logo" />
        <h1>Serra Rocketry</h1>
      </div>
      <div class="menu-list">
        <a href="/home"><h2>Home</h2></a>
        <a href="/analises"><h2>Análises de Dados</h2></a>
        <a href="/tratamento"><h2>Tratamento de Dados</h2></a>
      </div>
    </div>
    {% block content %} {% endblock %}
    <script src="{{ url_for('static', filename = 'js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
  </body>
</html>
