{% extends "base.html" %} {% block content %}
<main>
  <div class="card", style="display: flex; flex-direction: column;">
    <form action="/smotor" id="form_serial" method="post">
      <label class="saved-label" for="savedmotors">Selecione o motor:</label>
      <select name="savedmotors" id="savedmotors">
        {% for motor in motores %}
        <option value={{motor}}>{{motor}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Abrir" id="show"/>
  </div>
</main>
{% endblock %}
